<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>CodeQueue</title>
  <meta name="description">
  <meta name="author" content="Nagaganesh Jaladanki">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/semantic-ui-css@2.4.1/semantic.min.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui-css@2.4.1/semantic.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.8.4/firebase.js"></script>
</head>

<body>
  <canvas id="c"></canvas>

    <div id="app">
      <div class="ui attached menu grid computer only">
        <div class="ui container">
          <a class="item" href="http://nagaganesh.com/codequeue/">
            <i class="home icon"></i> Home
          </a>
          <a class="item" onclick="runBubbles()">
            <i class="bell icon"></i> Bubbles
          </a>
          <a class="item" href="http://nagaganesh.com/codequeue/about.html">
            <i class="help icon"></i> About
          </a>
          <a class="right item" href="https://slack.com/oauth/authorize?scope=identity.basic&client_id=44822465026.560232063239">
            <i class="user icon"></i> Sign in with Slack
          </a>
        </div>
      </div>
            <h1 class="ui center aligned header" style="font-size: 4rem">CodeQueue</h1>

            <div class="ui centered grid">
                <div class="five wide column">
                  <div class="ui fluid input">
                    <input type="text" v-model="name" v-on:keyup.enter="addToQueue()" placeholder="Name">
                  </div>
                </div>
                <div class="one wide column">
                  <button class="ui primary button" v-on:click="addToQueue()">
                    Save
                  </button>
                </div>
            </div>
            <div class="ui text container">
              <br />
              <div class="ui middle aligned grid" v-for="item in queue">
                <div class="fourteen wide doubling column" style="padding:0">
                  <div class="ui segment">
                    {{ item[1] }}
                  </div>
                </div>
                <div class="column">
                  <button class="ui icon red button" v-on:click="removeElement(item)">
                    <i class="x icon"></i>
                  </button>
                </div>
              </div>
            </div>
    </div>
    <script src="stuff.js"></script>

</body>
</html>
