---
layout: default
---

<div class="page-single">
    <div class="entry-header">
        <div>        
            <h1 class="posttitle">
                {{ page.title }}
            </h1>       
        </div>
        <a target="_blank" href="{{ site.baseurl }}/" class="btn btn-dark"> Read my blog &rarr;</a> 
    </div>
</div>


<!-- Featured Image -->
<div class="entry-featured-image">
    <div class="about-featured-image me image-shadow"></div>
</div>
<!-- Content -->
{% include article.html %}

